.venv
.vscode/*
!.vscode/launch.json

bin
build
# lib

# bazel
bazel-*
third_party/*/MODULE.bazel.lock

# coverage
coverage_report

# python
__pycache__

# chat
chat/server/mysql/data
chat/server/mysql/logs

# nn
nn/nanoGPT/edu_fineweb10B
nn/nanoGPT/hellaswag